altgraph==0.16.1
appdirs==1.4.3
Appium-Python-Client==0.48
asgiref==3.2.3
asn1crypto==1.2.0
beautifulsoup4==4.8.1
blinker==1.4
brotlipy==0.7.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
click==6.7
cryptography==2.3.1
distlib==0.3.0
Django==3.1.13
Django-Deployment-Tools==0.5.0
ec==0.2.5
fake-useragent==0.1.11
filelock==3.0.12
future==0.18.2
h11==0.7.0
h2==3.1.1
hpack==3.0.0
html-testRunner==1.2.1
hyperframe==5.2.0
idna==2.8
importlib-metadata==1.6.0
importlib-resources==1.4.0
Jinja2==2.10.3
kaitaistruct==0.8
ldap3==2.5.2
lxml==4.4.2
MarkupSafe==1.1.1
mitmproxy==4.0.4
passlib==1.7.1
pbr==5.4.4
pefile==2019.4.18
Pillow==6.2.1
pyasn1==0.4.8
pycparser==2.19
pydivert==2.1.0
PyInstaller==3.5
pyOpenSSL==18.0.0
pyparsing==2.2.2
pyperclip==1.6.5
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.22.0
ruamel.yaml==0.15.100
selenium==3.141.0
six==1.13.0
sortedcontainers==2.0.5
soupsieve==1.9.5
sqlparse==0.3.1
tornado==5.1.1
UNKNOWN==0.0.0
urllib3==1.25.6
urwid==2.0.1
virtualenv==20.0.16
wsproto==0.11.0
xlrd==1.2.0
zipp==3.1.0
